.login-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #0F4037;
  text-align: center;
  padding-top: 10vh;

  .login-iframe {
    display: inline-block;
    width: 480px;
    height: 640px;
    border: none;
  }
}